* {
  box-sizing: border-box; /* Устанавливаем box-sizing для всех элементов */
}

body {
  margin: 16px; /* Внешний отступ у body */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif; /* Семейство шрифтов для body */
  -webkit-font-smoothing: antialiased; /* Сглаживание шрифтов для WebKit */
  -moz-osx-font-smoothing: grayscale; /* Сглаживание шрифтов для Firefox */
  background-color: #fafafa; /* Фоновый цвет body */
  color: #212121; /* Цвет текста body */
  line-height: 1.5; /* Межстрочный интервал */
}

/* Сброс стилей по умолчанию */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0; /* Убираем верхний отступ */
  margin-bottom: 0; /* Убираем нижний отступ */
}

ul,
ol {
  margin: 0; /* Убираем внешние отступы */
  padding: 0; /* Убираем внутренние отступы */
  list-style-type: none; /* Убираем маркеры списка */
}

/* TASK 1 */
.head-two {
  color: #2e2f42; /* Цвет текста */
  font-family: Montserrat; /* Семейство шрифтов */
  font-size: 24px; /* Размер шрифта */
  font-style: normal; /* Стиль шрифта */
  font-weight: 600; /* Начертание шрифта */
  line-height: 1.33; /* Межстрочный интервал */
  letter-spacing: 0.04em; /* Межбуквенный интервал */
}

#categories {
  display: inline-flex; /* Отображение в виде флекс-контейнера */
  padding: 24px; /* Внутренний отступ */
  flex-direction: column; /* Направление основной оси */
  align-items: flex-start; /* Выравнивание по верхнему краю */
  gap: 24px; /* Расстояние между элементами */
  border-radius: 8px; /* Радиус скругления углов */
  background-color: #fff; /* Фоновый цвет */
}

.item {
  display: flex; /* Отображение в виде флекс-контейнера */
  padding: 16px; /* Внутренний отступ */
  flex-direction: column; /* Направление основной оси */
  align-items: flex-start; /* Выравнивание по верхнему краю */
  gap: 16px; /* Расстояние между элементами */
  border-radius: 8px; /* Радиус скругления углов */
  background-color: #f6f6fe; /* Фоновый цвет */
}

.list-categories {
  display: flex; /* Отображение в виде флекс-контейнера */
  flex-direction: column; /* Направление основной оси */
  align-items: flex-start; /* Выравнивание по верхнему краю */
  gap: 8px; /* Расстояние между элементами */
}

.element {
  width: 360px; /* Ширина элемента */
  height: 40px; /* Высота элемента */
  border-radius: 4px; /* Радиус скругления углов */
  border: 1px solid #808080; /* Граница */
  padding-left: 16px; /* Внутренний отступ слева */
  padding-top: 8px; /* Внутренний отступ сверху */
  padding-bottom: 8px; /* Внутренний отступ снизу */
  color: #2e2f42; /* Цвет текста */
  font-family: Montserrat; /* Семейство шрифтов */
  font-size: 16px; /* Размер шрифта */
  font-style: normal; /* Стиль шрифта */
  font-weight: 400; /* Начертание шрифта */
  line-height: 1.5; /* Межстрочный интервал */
  letter-spacing: 0.04em; /* Межбуквенный интервал */
}

/* TASK 2 */
.gallery {
  width: 1440px; /* Ширина галереи */
  height: 848px; /* Высота галереи */
  display: flex; /* Отображение в виде флекс-контейнера */
  flex-wrap: wrap; /* Разрешение переноса элементов на новую строку */
  padding: 100px 156px; /* Внутренний отступ */
  row-gap: 48px; /* Расстояние между строками */
  column-gap: 24px; /* Расстояние между столбцами */
  justify-content: center; /* Выравнивание контента по центру */
  align-items: flex-start; /* Выравнивание по верхнему краю */
  background-color: #fff; /* Фоновый цвет */
}

.image-gallery {
  width: 360px; /* Ширина изображения */
  height: 300px; /* Высота изображения */
}

/* TASK 3 */
#name-input {
  width: 360px; /* Ширина поля ввода */
  height: 40px; /* Высота поля ввода */
  margin-bottom: 16px; /* Внешний отступ снизу */
}

.head-one {
  color: #2e2f42; /* Цвет текста */
  font-family: Montserrat; /* Семейство шрифтов */
  font-size: 24px; /* Размер шрифта */
  font-style: normal; /* Стиль шрифта */
  font-weight: 600; /* Начертание шрифта */
  line-height: 1.33; /* Межстрочный интервал */
  letter-spacing: 0.04em; /* Межбуквенный интервал */
}

/* TASK 4 */
.login-form {
  display: inline-flex; /* Отображение в виде флекс-контейнера */
  padding: 24px; /* Внутренний отступ */
  flex-direction: column; /* Направление основной оси */
  align-items: flex-start; /* Выравнивание по верхнему краю */
  gap: 16px; /* Расстояние между элементами */
  border-radius: 8px; /* Радиус скругления углов */
  background-color: #fff; /* Фоновый цвет */
}

.form-lable {
  color: #2e2f42; /* Цвет текста */
  font-family: Montserrat; /* Семейство шрифтов */
  font-size: 16px; /* Размер шрифта */
  font-style: normal; /* Стиль шрифта */
  font-weight: 400; /* Начертание шрифта */
  line-height: 24px; /* Межстрочный интервал */
  letter-spacing: 0.64px; /* Межбуквенный интервал */
}

.form-input {
  display: flex; /* Отображение в виде флекс-контейнера */
  width: 360px; /* Ширина поля ввода */
  height: 40px; /* Высота поля ввода */
  justify-content: center; /* Выравнивание по центру */
  align-items: center; /* Выравнивание по вертикали */
  border-radius: 4px; /* Радиус скругления углов */
  border: 1px solid #808080; /* Граница */
}

.btn {
  display: flex; /* Отображение в виде флекс-контейнера */
  padding: 8px 16px; /* Внутренний отступ */
  justify-content: center; /* Выравнивание по центру */
  align-items: center; /* Выравнивание по вертикали */
  gap: 10px; /* Расстояние между элементами */
  border-radius: 8px; /* Радиус скругления углов */
  background-color: #4e75ff; /* Фоновый цвет */
  color: #ffffff; /* Цвет текста */
}

/* ==================== */

/* TASK 5 */

.widget {
  display: inline-flex; /* Отображение в виде флекс-контейнера */
  padding: 100px 88px; /* Внутренний отступ */
  flex-direction: column; /* Направление основной оси */
  align-items: flex-start; /* Выравнивание по верхнему краю */
  gap: 10px; /* Расстояние между элементами */
  border-radius: 8px; /* Радиус скругления углов */
  background: #fff; /* Фоновый цвет */
}

.lable {
  color: #2e2f42; /* Цвет текста */
  font-family: Montserrat; /* Семейство шрифтов */
  font-size: 16px; /* Размер шрифта */
  font-style: normal; /* Стиль шрифта */
  font-weight: 400; /* Начертание шрифта */
  line-height: 24px; /* Межстрочный интервал */
  letter-spacing: 0.64px; /* Межбуквенный интервал */
}

.change-color {
  display: flex; /* Отображение в виде флекс-контейнера */
  padding: 8px 16px; /* Внутренний отступ */
  justify-content: center; /* Выравнивание контента по центру */
  align-items: center; /* Выравнивание по вертикали */
  gap: 10px; /* Расстояние между элементами */
  border-radius: 8px; /* Радиус скругления углов */
  background: #4e75ff; /* Фоновый цвет */
  color: #fff; /* Цвет текста */
  font-family: Montserrat; /* Семейство шрифтов */
  font-size: 16px; /* Размер шрифта */
  font-style: normal; /* Стиль шрифта */
  font-weight: 500; /* Начертание шрифта */
  line-height: 24px; /* Межстрочный интервал */
  letter-spacing: 0.64px; /* Межбуквенный интервал */
}

/* ==================== */

/* TASK 6 */
.task-six-container {
  display: inline-flex; /* Отображение в виде флекс-контейнера */
  padding: 24px; /* Внутренний отступ */
  flex-direction: column; /* Направление основной оси */
  gap: 16px; /* Расстояние между элементами */
  border-radius: 8px; /* Радиус скругления углов */
  background: #fff; /* Фоновый цвет */
}

#controls {
  display: flex; /* Отображение в виде флекс-контейнера */
  padding: 32px; /* Внутренний отступ */
  align-items: center; /* Выравнивание по вертикали */
  justify-content: center; /* Выравнивание контента по центру */
  gap: 16px; /* Расстояние между элементами */
  border-radius: 8px; /* Радиус скругления углов */
  background: #f6f6fe; /* Фоновый цвет */
}

#boxes {
  display: flex; /* Отображение в виде флекс-контейнера */
  flex-direction: column; /* Направление основной оси */
  padding: 32px; /* Внутренний отступ */
  gap: 10px; /* Расстояние между элементами */
  border-radius: 8px; /* Радиус скругления углов */
  background: #f6f6fe; /* Фоновый цвет */
}

.int-input {
  display: flex; /* Отображение в виде флекс-контейнера */
  padding: 8px 72px; /* Внутренний отступ */
  flex-direction: column; /* Направление основной оси */
  justify-content: center; /* Выравнивание контента по центру */
  align-items: center; /* Выравнивание по вертикали */
  gap: 10px; /* Расстояние между элементами */
  border-radius: 8px; /* Радиус скругления углов */
  border: 1px solid #808080; /* Граница */
}

.btn-create {
  display: flex; /* Отображение в виде флекс-контейнера */
  width: 120px; /* Ширина кнопки */
  padding: 8px 16px; /* Внутренний отступ */
  justify-content: center; /* Выравнивание контента по центру */
  align-items: center; /* Выравнивание по вертикали */
  gap: 10px; /* Расстояние между элементами */
  border-radius: 8px; /* Радиус скругления углов */
  background: #4e75ff; /* Фоновый цвет кнопки "Создать" */

  color: #fff; /* Цвет текста */
  font-family: Montserrat; /* Семейство шрифтов */
  font-size: 16px; /* Размер шрифта */
  font-style: normal; /* Стиль шрифта */
  font-weight: 500; /* Начертание шрифта */
  line-height: 24px; /* Межстрочный интервал */
  letter-spacing: 0.64px; /* Межбуквенный интервал */
}
.btn-destroy {
  display: flex; /* Отображение в виде флекс-контейнера */
  width: 120px; /* Ширина кнопки */
  padding: 8px 16px; /* Внутренний отступ */
  justify-content: center; /* Выравнивание контента по центру */
  align-items: center; /* Выравнивание по вертикали */
  gap: 10px; /* Расстояние между элементами */
  border-radius: 8px; /* Радиус скругления углов */
  background: #ff4e4e; /* Фоновый цвет кнопки "Удалить" */
  color: #fff; /* Цвет текста */
  font-family: Montserrat; /* Семейство шрифтов */
  font-size: 16px; /* Размер шрифта */
  font-style: normal; /* Стиль шрифта */
  font-weight: 500; /* Начертание шрифта */
  line-height: 24px; /* Межстрочный интервал */
  letter-spacing: 0.64px; /* Межбуквенный интервал */
}

/* ==================== */
